* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.infoWrapper {
  width: 100%;
}

p,
h6 {
  margin-bottom: 0;
}

ul,
li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;
}

.acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

button {
  border: none;
  background: none;
}

img {
  width: 104px;
  border-radius: 1em;
}

.list-group-item {
  padding: 2em;
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 50%;
  padding: 3em;
  border: 1px solid gainsboro;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
